.Category__header {
  background-color: #6495ED;
}

.Category__header .MuiTableCell-head {
  color: #fff;
  font-weight: bold;
}

.AddCategory .MuiPaper-rounded {
  border-radius: 30px;
}

.AddCategory .MuiDialogActions-root {
  display: flex;
  justify-content: space-evenly;
}

.AddCategory__title .MuiTypography-h6 {
  font-size: 16px;
}

.EditCategory .MuiPaper-rounded {
  border-radius: 30px;
}

.EditCategory .MuiDialogActions-root {
  display: flex;
  justify-content: space-evenly;
}

.EditCategory__title .MuiTypography-h6 {
  font-size: 16px;
}

.DeleteCategory .MuiPaper-rounded {
  border-radius: 23px;
  width: 80%;
}

.DeleteCategory .MuiDialogContent-root {
  text-align: center;
}

.DeleteCategory .MuiDialogActions-root {
  display: flex;
  justify-content: space-evenly;
}
